/* background picture*/
body, html{
  height: 100%;
  margin: 0;
}

.background{
  background-image: url('Atlanta.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clock {
  border-radius: 50%;
  background-image: url(clockimage.png);
  background-color: purple;
  background-size: 600px 600px;
  height: 600px;
  width: 600px;
  position: relative;
}

/* .clock.simple:after {
  background: purple;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
} */

.minutes-container, .hours-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hour
{
    height: 100px;
    width: 4px;
    background: #333;
    position: relative;
    left: 50%;
    top: 20px;
    bottom: 0;
    animation: tick 43200s infinite linear;
    -webkit-animation: tick 43200s infinite linear;
}

.minute
{
    height: 120px;
    width: 4px;
    background: #777;
    position: absolute;
    left: 50%;
    top: 40px;
    bottom: 0;
    animation: tick 3600s infinite linear;
    -webkit-animation: tick 3600s infinite linear;
}



@keyframes rotate {
  from { transform: rotateZ(90deg);}
  to{transform: rotateZ(120deg);}
}

.hours-container {
  animation: rotate 10s infinite linear;
}
.minutes-container {
  animation: rotate 10s infinite linear;
}








/* text box */
.box-transparent{
float: right;
text-align: center;
  color: white;
  top: 20px;
  left: 20px;
  background-color: rgba(100, 100, 100, 0.6);
  margin-top: 700px;
  margin-right: 5px;
  padding: 10px;
  border-color: black;
}

.content{
  position: absolute;
  width: 90%;
  top: 30px;
  left: 20px;
  color: black;
  font-size: 30px;

}
