

.clock {
  border-radius: 50%;
  background-image: url(clockimage.png);
  background-color: purple;
  background-size: 600px 600px;
  height: 600px;
  width: 600px;
  position: relative;
}

/* .clock.simple:after {
  background: purple;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
} */

.minutes-container, .hours-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hour
{
    height: 100px;
    width: 4px;
    background: #333;
    position: relative;
    left: 50%;
    top: 20px;
    bottom: 0;
    animation: tick 43200s infinite linear;
    -webkit-animation: tick 43200s infinite linear;
}

.minute
{
    height: 120px;
    width: 4px;
    background: #777;
    position: absolute;
    left: 50%;
    top: 40px;
    bottom: 0;
    animation: tick 3600s infinite linear;
    -webkit-animation: tick 3600s infinite linear;
}



@keyframes rotate {
  100% {
    transform: rotateZ(30deg);
  }
}

.hours-container {
  animation: rotate 10s infinite linear;
}
.minutes-container {
  animation: rotate 10s infinite linear;
}
